streamlit
pandas
requests
rapidfuzz
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl



spacy
en-core-web-sm @
streamlit
pandas
requests
rapidfuzz
spacy==3.8.x
en-core-web-sm==3.8.x

python-3.11
spacy==3.8.1
en-core-web-sm==3.8.1
